<!-- Main-wrapper -->
<div class="main-wrapper d-flex overflow-hidden position-relative  h-100 w-100">
  <!-- Sidebar toggle  -->
  <input type="checkbox" name="sidebar-toggle" id="sidebar-toggle" class="d-none">
  <!-- Side-nav -->
  <aside class="side-nav d-flex bg-primary flex-column flex-shrink-0  h-100">
    <!-- sidenav-header -->
    <div class="nav-header w-100 d-flex flex-shrink-0 align-items-center justify-content-center position-relative">
      <a href="#" class="d-flex align-items-center justify-content-center h-100 w-100">
        <img src="../assets/images/icons/white-logo.png" alt="1rivet-logo" class="logo-image cursor-pointer">
      </a>
      <label for="sidebar-toggle" class="close-icon position-absolute d-xl-none m-0">
        <span class="fa fa-times text-white"></span></label>
    </div>
    <nav class="nav flex-nowrap flex-column overflow-auto">
      <a class="nav-link d-flex pl-5 py-3" routerLink='/dashboard' routerLinkActive="active">
        <div class="nav-link-title ">Dashboard</div>
      </a>
      <a class="nav-link d-flex pl-5  py-3 " routerLink='/resignation' routerLinkActive="active">
        <div class="nav-link-title ">Resignation</div>
      </a>
      <a class="nav-link d-flex pl-5  py-3 " routerLink='/exit-checklist' routerLinkActive="active">
        <div class="nav-link-title ">Exit Checklist</div>
      </a>
    </nav>
  </aside>
  <!-- Ends: Side-nav -->

  <!-- Content-wrapper -->
  <div class="content-wrapper d-flex flex-column w-100 h-100">
    <!-- Header -->
    <header class="header d-flex align-items-center flex-shrink-0 px-3 w-100 ">
      <label for="sidebar-toggle" class="m-0 mr-2 cursor-pointer"><span
          class="fa fa-bars fa-lg text-white d-xl-none "></span></label>
      <h4 class="header-title text-white text-nowrap position-relative mb-0 w-50" data-attribute="Employee Dashboard">
        Employee Dashboard</h4>
      <div class="user-info align-items-center ml-auto d-none d-md-flex">
        <div class="position-relative mx-4">
          <span class="fa fa-envelope-o fa-2x text-secondary"></span>
          <span class="mail-notification badge badge-secondary rounded-circle position-absolute">6</span>
        </div>
        <div class="position-relative d-flex align-items-center">
          <img src="../assets/images/profile-img.jpg" class="user-profile rounded-circle ml-3" alt="User Profile">
          <!-- Dropdown -->
          <div class="dropdown">
            <button class="btn d-flex" (click)="openLogoutDropdown()">
              <div class="user-name mx-2 text-white">Hello, Johnathan</div>
              <span class="fa fa-angle-down text-white"></span>
            </button>
            <!-- Dropdown menu -->
            <!-- open dropdown-menu onclick of dropdown button   -->
            <div #dropdownmenu
              class="dropdown-menu ml-auto cursor-pointer d-none flex-column bg-white text-primary py-2 position-absolute">
              <button class="dropdown-item fa fa-cog font-weight-normal py-2"><span
                  class="ml-2">Settings</span></button>
              <button class="dropdown-item fa fa-power-off font-weight-normal py-2" (click)="logout()"><span
                  class="ml-2"> Log
                  out</span></button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Ends: Header -->

    <!-- Content-body -->
    <main class="content-body d-flex overflow-auto h-100 w-100 ">
      <div class="container-fluid p-0 content-bg w-100 h-100">
        <router-outlet></router-outlet>
      </div>
    </main>
    <!-- Ends: Content-body -->
  </div>
  <!-- Ends: Content-wrapper -->
</div>
<!-- Ends: Main-wrapper -->
