.card {
  box-shadow: -1px 1px 14px 0px $light;
  .card-field-title {
    color: darken($gray-200, 5%);
  }
  .card-field-value {
    color: lighten($primary, 20%);
    word-wrap: break-word;
  }
  .card-input-field {
    &:focus {
      outline: 0;
    }
  }
  .user-info {
    .card-field-value {
      &:first-child {
        font-size: $font-size-base * 1.2;
        color: lighten($primary, 15%);
      }
    }
  }
  .duration-area,
  .activity-area {
    border-right: 1px solid $light;
    margin-right: 15px;
    @include media-breakpoint-down(md) {
      border-right: 0;
    }
    &:last-child {
      border-right: 0;
    }
  }
}
